.DS_Store 
log/*.log 
tmp/**/* 
db/*.sqlite3 
coverage 
doc/app/* 
log/development.log
log/test.log
public/pin_images/blue-1.png
public/pin_images/blue-2.png
public/pin_images/green-1.png
public/pin_images/green-2.png
public/pin_images/yellow-1.png
public/pin_images/yellow-3.png
tmp/pin_images/blue-2.png
tmp/pin_images/blue-27.png
tmp/pin_images/blue-id.png
tmp/pin_images/green-1.png
tmp/pin_images/green-id.png
tmp/pin_images/red-27.png
tmp/pin_images/yellow-3.png
tmp/pin_images/yellow-id.png
