body {
  padding: 0;
  margin: 0;
}

a {
  color: #900;
}

div.header {
  background-color: #F93;
  padding: 10px;
  border: 0;
  background-image: none;
  height: auto;
}

div.page_footer {
  border-top: solid #C33 2px;
  padding: 10px;
  margin-top: 100px;
}

.header_tabs {
  margin: 0;
  padding: 4px 10px 2px 10px;
  background-color: #C33;
}

.header_tabs .region_selector {
  float: right;
}

.region_selector span {
  color: white;
}

.region_selector span.selected {
  background-color: white;
  color: #C33;
  padding: 2px;
  border-bottom: 3px solid white;
}

.region_selector a, .region_selector a:link, .region_selector a:visited {
  color: white;  
  text-decoration: none;
}

.region_selector a:hover {
  text-decoration: underline;
}

.header_tabs ul {
  margin: 3px 0 0 0;
  padding: 0;
  list-style: none;
}

.header_tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.header_tabs li a:link, .header_tabs li a {
  color: #FFF;
  padding: 2px;
  margin-right: 5px;
  text-decoration: none;
}

.header_tabs li a:hover {
  text-decoration: underline;
}

.header_tabs li.active a {
  color: #C33;
  background-color: #FFF;
}

div.header h1 {
  margin: 0;
}

h1, h2 {
  color: #900;  
}

.record_index {
  margin-bottom: 1em;
}

.record_index .record_row {
  background-color: #FC9;
  padding: 4px;
  text-align: right;
}

.record_index .record_row .info {
  font-weight: bold;
  float: left;
}

.record_index .record_row .buttons {
  overflow: hidden;
}

.record_index .record_row .buttons a {
  border-left: 2px solid black;
  padding-left: 6px;
  padding-right: 2px;
}

.coordinate_list {
  float: right;
}

.coordinate_list h3 {
  margin-top: 0;
}

.login_details {
  float: right;
}