div.footer {
  margin-top: 2em;
}

.sub_label {
  color: #333333;
}

label .hint {
  color: #666;
  font-weight: normal;
}

div.form_row {
  margin-top: 1em;  
}

label {
  display: block;
  margin-top: 1em;
}

input.text_field {
  width: 500px;
}

textarea {
  width: 500px;  
  height: 150px;
}

label.check_box {
  display: inline;
}

input.check_box {
  display: inline;
}

div.checkbox_collection {
  margin-top: 1em;
}

div.checkbox_collection .form_row {
  margin: 0;
}

select {
  min-width: 150px;
}

.rating_selector {
  margin-bottom: 2em;
}

.rating_selector .button_and_label {
  margin-right: 10px;
  background-color: #CBB5A5;
  padding: 4px 2px 2px 2px;
  display: block;
  width: 3em;
  float: left;
  border: 1px solid #827165;
  text-align: center;
}

form h2 {
  margin-top: 1em;
}

form div.form_pop_in {
  border: 2px solid #CBB5A5;
  padding: 10px;
  margin: 1em 0;
}

div.errorExplanation
{
  border: 2px solid #000;
  background-color: #FE8;
  color: #000;
  margin-bottom: 12px;
}

#errorExplanation h2 {
  text-align: left;
  padding: 4px 5px;
  margin: -2px -2px 0 -2px;
}

#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-weight: bold;
  color: #C00;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #C00;
  color: #000;
  display: table;
}

div.formError {
  color: #C00;
}

