<h2>Edit Map Region</h2>

<% form_for :map_region, :url => admin_map_regions_path, :method => :post, :builder => LabelledBuilder do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
