<h2>Edit Map Region</h2>

<% form_for :map_region, :url => admin_map_region_path(@map_region), :html => {:method => :put}, :builder => LabelledBuilder do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
