<div class="login_details">
	<% if logged_in? %>
		Welcome <%=h current_user.name %> (<%= link_to 'logout', session_path, :method => :delete %>)
	<% else %>
		<%= link_to "login", session_path %>
	<% end %>
</div>
